.container {
  display: flex; /* or inline-flex */
  width: 100%;
}

.resize {
  width: 20%;
  height: 20%;
}

.text {
  margin: auto;
  width: 30%;
  /*padding: 5%;*/
  font-size: 3vh;
  text-align: center;
  vertical-align: center;
  color: white;
}

.button {
  background-color: black;
  box-shadow: 5px 10px #317033;
  color: white;
  height: 10vh;
  width: 10vw;
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
  vertical-align: center;
}

.button:hover {
  background-color: #222222;
}

.button:focus {
  outline: none;
  background-color: white;
  color: black;
  -webkit-box-shadow: inset 0px 0px 15px #317033;
  -moz-box-shadow: inset 0px 0px 15px #317033;
  box-shadow: inset 0px 0px 15px #317033;}
