<mat-form-field  class = "dropdown">
  <mat-label>Type for options to appear</mat-label>
  <input matInput type="text" [(ngModel)]="inputText" (keyup)="moveSelector($event);onKey();" required>
  <div class="options-container">
  <p *ngFor="let res of this.searchResults; let i = index "
      class = "{{i == selectedIndex ? 'option-selected' : 'option'}}"
      (click)="this.onClickResults(res.getName())">
    {{res.getName()}} - {{res.getArtists()[0].name}}
  </p>

  </div>
</mat-form-field>




