.dropdown {
  /*border: 3px solid black;*/
  margin: 10px 10px 10px 10px;
  background-color: transparent;
  width: 100%;
}

.inputBar{
  background-color:rgba(0, 0, 0, 0);
  border-bottom: 5px white;
}

.options-container{
  background-color: black;
}

.option {
  padding: 10px;
  color: white;
}

.option-selected {
  color: black;
  list-style: none;
  background-color: green;
  padding: 10px;

}
