.container{
  /*display: flex;*/
  flex-wrap: wrap;
}

.playlists-container {
  display: flex; /* or inline-flex */
  flex-wrap: nowrap;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.playlist-info {
  width : 80%;
}

.select-playlist {
  background-color: #4CAF50;
  width: 20%;
}

.current-playlist {
  padding-right: 40px;
  float: right;
}

.search {
  margin: 10px  10px 10px 6px;
}
